{% extends 'blog/base.html'%}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">


<div class="container">

<img src="static/image/koduri.jpg" >

<div class="header">
    <h3>"Hi There i'm"</h3>
    <h2>Rakesh Koduri</h2>
    <p>
        <b><i>
        "Hi i am a web developer with a python full stack ,<br>
        and developing working clients and developing web apps and interactive websites <br>
        and making clients happier with the work.<br>
        Need your feedback that means alot."</i>
        <i>"I love to here from You"</b></i>

    </p>
</div>
</div>
{% endblock %}

